@font-face {
  font-family: "Payfin";
  src: url(../style/Fonts/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Cabin";

  src: url(../style/Fonts/Cabin_Condensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Cabin";
}

#DetailsBirds {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto 1fr;
  margin: auto;
  margin-top: 90px;
  background: #005b4c;
  width: 90%;
  min-height: 77vh;
  margin-bottom: 100px;
}
#galleryIMG {
  position: relative;
  height: 100%;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;

  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
}
#viewIMG {
  margin-top: auto;
  margin-bottom: 0;
  width: 80%;
}
#carousel {
  position: relative;
  background: #00816c;
  height: 70px;
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px 0;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: auto;

  max-width: 90%;
}
.previewIMG {
  transition: 0.2s;
  position: relative;
  height: 60px;
  margin: 0 10px;
}

#informacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
#titles {
  margin-bottom: 10px;
}
#name {
  font-family: "Payfin";
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: clamp(0px, 8vw, 40px);
}

#nameCC {
  font-family: "Payfin";
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  color: #ffffffbd;
  font-size: clamp(0px, 7vw, 30px);
}
#descripcion {
  background: #ffffff;
  position: relative;
  left: 0px;
  margin-right: 20px;
  padding: 30px 20px 0 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
}
b {
  display: inline-block;
  color: #494949;
  font-size: clamp(17px, 5.5vw, 20px);
}
#info {
  display: inline-block;
  width: 90%;
  font-size: clamp(20px, 5vw, 25px);
}

#moreDetails {
  position: relative;
  padding: 20px;
  color: #fff;
  background: #00b698;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: auto;
  display: grid;
  column-gap: 40px;
  row-gap: 5px;
  grid-template-columns: 100px 100px 100px;
}
h5 {
  letter-spacing: 1.5px;

  font-size: clamp(13px, 5vw, 17px);
  text-decoration: underline;
}
span {
  letter-spacing: 1.5px;
  font-size: clamp(15px, 5vw, 20px);
}
#carousel::-webkit-scrollbar {
  position: absolute;
  height: 7px;
  background: #5050509c;
}
#carousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00b698;
}
@media only screen and (max-width: 600px) {
  #DetailsBirds {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: auto;
  }
  #titles {
    padding-left: 15px;
    grid-row-start: 1;
  }
  #galleryIMG {
    grid-template-rows: auto auto;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  #carousel {
    margin-bottom: 20px;
  }
  #descripcion {
    grid-template-rows: auto auto auto;
    margin: 0 15px;
    margin-bottom: 40px;
  }
  #moreDetails {
    grid-template-columns: repeat(auto-fill, minmax(100px, 100%));
    column-gap: 0;
    width: 70%;
    grid-auto-rows: minmax(30px, auto);
    row-gap: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .previewIMG:hover {
    transform: scale(1.2);
  }
}
